<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body bgcolor="#00ffff">
<h1> Welcome to Intelligent Multimedia Information Retrieval System </h1>
<form action="text">
    <input type="submit" value="Text" name="text">
</form>
<form action="speech">
    <input type="submit" value="Speech" name="speech">
</form>
<form action="image">
    <input type="submit" value="Image" name="image">
</form>
<form action="video">
    <input type="submit" value="Video" name="video">
</form>
</body>
</html>