{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Retrieval System</title>
</head>
<body>
<h1>Welcome to Decent Image Retrieval System</h1>
{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data" action="image1">
    {% csrf_token %}
    <input type="file" name="image_submit">
    <button type="submit">Upload</button>
  </form>

  {% if image %}
    <p>Your image is: <img src="{{ image }}"></img></p>
  {% endif %}
  {% if text %}
    <h1>Sorry you can't view the adult image</h1>
  {% endif %}

    <h1>Exposed Parts are</h1>
    {%for i in exposed%}
        {{ i }}<br>
    {% endfor %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
</body>
</html>