<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Retrieval System</title>
</head>
<body>
<h1>Welcome to Text Retrieval System</h1>
<form method="post" enctype="multipart/form-data" action='text1'>
    {% csrf_token %}
    <input type="file" name="text_submit">
    <button type="submit">Upload</button>
</form>

<h2> Total word in file are: {{ words }}</h2>
<h2> Total adult words in file are: {{ adults }}</h2>
<h1> The Percentage of Adult Content is: {{ probability }} </h1>

</body>
</html>